<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>HTML Page</title>
  <link rel="stylesheet" href="./css/indx.css">
 </head>
 
 <body>
 <header style= "background-color:pink; text-align:center; color:white;">  {{>partials}} </header>
 
 <h1>Contact Us</h1>
  <h2>Hotel Hyatt</h2>
  <p>Jalandhar,Punjab,India</p>
  <p>Mobile:9646972147,9805416642</p>
  <p>Email: dhananjay16642@gmail.com , hyatthotel@12gmail.co.in </p>
  
 </body>
</html>