<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>HTML Page</title>
  <meta name"viewport" content="width=device-width,initial-scale=1.0">
 </head>
 
 <body>
 
  <center><h1>Welcome To Our Hotel</h1></center>
  <header style= "background-color:pink; text-align:center; color:white;">  {{>partials}} </header>
  <img src="/img1.jpg" alt="img" width="100" height="200">
  
  
  
 </body>
</html>